body {
  background-color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.controls button {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}
